.event-page {
    padding: 20px;
    max-width: 100%;
    
    background-color: black; 
}

.event-page-title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.event-card {
    padding: 20px;
    background-color: #333333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* Existing shadow */
                0 0 15px rgba(0, 255, 255, 0.7); /* Neon blue glow */
}


.event-card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 10px;
}

.event-card-date-time, .event-card-location {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #cccccc; 
    margin-bottom: 5px;
}

.event-card-description {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #b3b3b3; 
}

/* .drone-vid{
    position: relative;
    display: flex;
    box-shadow: 0 10px 100px #16E6B4;
    border-radius: 100px;
  }
.drone_div{
    background-color: transparent;
} */


.drone-vid:hover .drone_div::after {
    content: "Hello";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #ffffff;
}
