.team-title{
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: .7px;
    margin-bottom: 70px;

}
.team-title > span {
    position: relative;
}
.team-title span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #16E6B4;
    border-radius: 8px;
    left: 0;
    bottom: -12px;
}
@media screen and (max-width: 870px){
    
    .team{
        max-width: 100%;
        margin-left:17%;
        
    }
    .allteam{
        margin-right: 20%;
    }
}